.linked-list{
    @media screen and (min-width: 920px) {
        display: flex;
    }

    
}



.hamburger{
    @media screen and (min-width: 920px) {
        display:none;
    }
}

.signup{
    @media screen and (max-width: 540px) {
        display: none;
    }
}